<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Comparison</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.20/sl-1.3.1/datatables.min.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.20/sl-1.3.1/datatables.min.js"></script>


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Code Comparison", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="float: right;">
                    <li>@Html.ActionLink("About", "About", "Home")</li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div style="margin-top:10px;"></div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Capstone Code Comparator</p>
        </footer>
    </div>


</body>
</html>

<script>

    // async: false will make the AJAX synchronous in case you're using jQuery
    $(window).on("beforeunload", function () {
        if (!window.location.href.indexOf("Download") > -1) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("DeleteSessionFolder", "FileProcessing")",
            });
        }
    });

    window.onbeforeunload = function (e) {
        if (!window.location.href.indexOf("Download") > -1) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("DeleteSessionFolder", "FileProcessing")",
            });
        }
    }

    $(document).ready(function()
    {
        if (!window.location.href.indexOf("Download") > -1) {
            $(window).bind("beforeunload", function () {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("DeleteSessionFolder", "FileProcessing")",
                });
            });
        }
});

</script>
